*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bolder;
    color: whitesmoke;
}

p{
    font-size: 1.6rem;
}

h1{
    font-size: 6rem;
}

.app{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
}

.app:before{
    content: '';
    background: url('images/pexels-eberhardgross-640781.jpg')  no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.container{
    max-width: 700px;
    height: 500px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app .top{
    width: 100%;
    margin:  1rem auto;
}

.app .description{
    position: relative;
    right: -90%;
    transform-origin: 0 0;
    transform: rotate(269deg);
}

.app .bottom{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: rgba(255,255,255,0.2);
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 15px;
}


.app .bottom p{
    
    font-size: 1rem;
}

.search{
    text-align: center;
    padding: 1rem;
}

.search input{
    padding: .7rem 1.5rem;
    color: #f8f8f8;
    font-size: 1rem;
    border-radius: 25px;
    cursor: 3px;
    border: 1px solid rgba(255,255,255,0.8);
    background: rgba(255,255,255,0.2);
    
}


input:focus{
    outline: none;

}

input::placeholder{
    color: #f8f8f8;

}

h2{
    font-size: 2.3rem;
    margin: 2rem auto;
}